body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}

nav div{
  margin-right: 50px;
  width: 150px;
  display: flex;
  justify-content: space-between
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 99vw;
  padding: 0 30px;
  align-items: baseline;
  background-color: #b3ffb3;
}

.userhome {
  padding: 40px;
}

table {

}

td {
  padding: 4px;
}

tr:nth-child(even) {
  background: #F4F2E6
}

tr:nth-child(odd) {
  background: #FCFBF4
}

.splash {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;



}

.splash-header {
  background-color: #b3ffb3;
  width: 548px;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 30px;
}



.login-box {
  background-color: white;
  height: 425px;
  width: 550px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #004d4d;
  padding-bottom: 30px
}

.login-box h1 {
  margin: 0
}


.login-form label {
  font-size: 1.5em;
}

.login-form button {
  background-color: #ccffeb;
  padding: 5px;
  width: 80px;
  border-radius: 30px;
  border: 1px solid #004d4d;
  font-size: 1.1em;

}

.login-form {
  height: 125px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 50px 0;

}

.walkthrough-form {
  height: 125px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 50px 0;
  margin-top: 40px

}

.walkthrough-form div {
  width: 250px;
  display: flex;
  justify-content: space-between
}


.login-form div {
  width: 250px;
  display: flex;
  justify-content: space-between
}

.signup-link {
  background-color: #ccffeb;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #004d4d;

}


a {
  text-decoration: none;
  color: black;
}

.teal {
  color: #004d4d
}

.walkthrough-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box h3 {
  margin-top: 50px;

}




